.button {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: 3rem;
  padding: 0.4em 1.6em;
  transition: all 0.3s ease;
  font-size: clamp(0.6rem, 0.543rem + 0.29vw, 1rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
  cursor: pointer;
  &:hover {
    background-color: var(--accent);
  }
}
