.newsSection {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* Main Post Styles */
.mainPost {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  height: clamp(25rem, 13.636rem + 56.82vw, 50rem);
}

.mainPostImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mainPostImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mainPostContent {
  position: absolute;
  bottom: clamp(1.5rem, 0.364rem + 5.68vw, 4rem);
  left: clamp(1.5rem, 0.364rem + 5.68vw, 4rem);
  color: var(--background);
}

.mainPostTitle {
  font-size: clamp(1.6rem, 0.055rem + 7.73vw, 5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.2em;
}

.mainPostHashTag {
  font-size: clamp(1.6rem, 0.055rem + 7.73vw, 5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
}

.mainPostExtraContent {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 1;
}

.mainPostExtraContent .button {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  line-height: 1;
}

.mainPostDate,
.mainPostHashTagExtra {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-size: clamp(0.6rem, 0.514rem + 0.43vw, 1.2rem);
  line-height: 1;
}

/* Regular Post Styles */
.regularPost {
  display: block;
  text-decoration: none;
  color: inherit;
  width: clamp(13.75rem, 1.534rem + 61.08vw, 40.625rem);
  margin: 0 auto;
}

.regularPostImageContainer {
  width: 100%;
  position: relative;
  border-bottom: 0.8em solid var(--accent);
}

.regularPostImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.regularPostContent {
  padding: 1em;
}

.regularPostTitle {
  font-size: clamp(1rem, 0.409rem + 2.95vw, 2.3rem);
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0.3em;
  font-family: var(--font-alegreya);
}

.regularPostExcerpt {
  font-size: clamp(0.7rem, 0.245rem + 2.27vw, 1.7rem);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

.regularPostExtraContent {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 1;
}

@media (min-width: 1024px) {
  .newsSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    padding-top: clamp(8rem, 5.333rem + 4.17vw, 12rem);
    width: clamp(43.75rem, 20.917rem + 35.68vw, 78rem);
    height: auto;
    margin: 0 auto;
  }

  .mainPost {
    grid-column: 1 / -1;
    height: auto;
    width: 100%;
  }

  .mainPostImageContainer {
    position: relative;
    width: 100%;
    height: auto;
  }

  .mainPostImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }

  .mainPostContent {
    position: absolute;
    bottom: clamp(1.5rem, 1rem + 0.78vw, 2.5rem);
    left: clamp(1.5rem, 1rem + 0.78vw, 2.5rem);
  }

  .mainPostTitle,
  .mainPostHashTag {
    font-size: clamp(3.5rem, 1.5rem + 3.13vw, 6.5rem);
  }

  .regularPost {
    width: auto;
  }

  .regularPostImageContainer {
    width: 100%;
    height: clamp(10rem, 8rem + 2vw, 15rem);
    position: relative;
  }

  .regularPostImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .regularPostTitle {
    font-size: clamp(1rem, 0.333rem + 1.04vw, 2rem);
  }

  .regularPostExcerpt {
    font-size: clamp(0.6rem, 0.94vw, 1.5rem);
  }
}
