.organizationContainer {
  background-color: var(--accent);
}

.organization {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.organization,
.values {
  width: clamp(18rem, 3.455rem + 72.73vw, 50rem);
  margin: 0 auto;
  padding: 2em 0;
}

.organizationImageContainer {
  width: clamp(12rem, 2rem + 50vw, 34rem);
  height: auto;
  margin: 0 auto;
}

.organizationImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.organizationContent {
  display: flex;
  flex-direction: column;
  color: var(--background);
}

.organizationTitle {
  font-size: clamp(1.5rem, 0.818rem + 3.41vw, 3rem);
  font-weight: 900;
  line-height: 1;
  margin: 1em 0;
  color: var(--background);
}

.valuesContainer {
  background-color: var(--secondary);
  color: var(--background);
}

.valuesTitle {
  font-size: clamp(1.5rem, 0.818rem + 3.41vw, 3rem);
  margin-bottom: 1em;
}

.valuesContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.valuesItem {
  display: flex;
  flex-direction: column;
}

.valuesItemTitle {
  font-size: clamp(1.2rem, 0.609rem + 2.95vw, 2.5rem);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s;
}

.valuesItemTitle:hover {
  opacity: 0.8;
}

.valuesItemDescriptionWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.valuesItemDescriptionWrapper.open {
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.valuesItemDescription {
  background-color: var(--secondary-dark);
  padding: 1em;
  margin-top: 0.5em;
}
