@import "tailwindcss";

:root {
  --background: #f2f2f2;
  --foreground: #333333;
  --accent: #a658ff;
  --accent-light: #c47eff;
  --secondary: #4d4d4d;
  --error: #ff76fe;
  --misc: #ababab;
  --black: #000000;
}

@theme inline {
  --background: #f2f2f2;
  --foreground: #333333;
  --accent: #a658ff;
  --accent-light: #c47eff;
  --secondary: #4d4d4d;
  --secondary-dark: #333333;
  --error: #ff76fe;
  --font-inria-sans: var(--font-inria-sans);
  --font-alegreya: var(--font-alegreya);
  --font-alegreya-sans: var(--font-alegreya-sans);
}

@media (prefers-color-scheme: dark) {
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inria-sans), sans-serif;
}
