.notFoundErrorCode {
  font-size: clamp(5rem, 5rem + 15.625vw, 30rem);
  font-weight: 700;
  color: var(--foreground);
  color: #000;
  line-height: 1;
  margin-bottom: 0.1em;
}

.notFoundImage {
  width: clamp(3.5rem, 3.5rem + 14.0625vw, 26rem);
  height: auto;
}

.notFoundTitle,
.notFoundDescription {
  font-size: clamp(0.8rem, 0.686rem + 0.57vw, 1.6rem);
  color: #000;
  line-height: 1;
  margin-bottom: 0.5em;
}

.notFoundButton {
  margin-top: 2em;
}
